<% if Spree::AuthenticationMethod.active_authentication_methods? %>
<% @body_id = 'login' %>
<div data-hook="account_my_social_providers" class="account-my-social-providers">

  <h3>Identification</h3>
  
  <div id="existing-customer">
    <% if spree_current_user.anonymous? %>
    <table>
      <tr>
        <%= render :partial => 'spree/shared/social_registrations', :locals => {:user => spree_current_user, :omniauth => @omniauth} %>
      </tr>
    </table>
    <% end %>

    <% if spree_current_user.user_authentications %>
      <% unless spree_current_user.user_authentications.empty? %>
        <div class="authentications">
          <p><strong><%= Spree.t(:you_have_signed_in_with_these_services) %></strong></p>
          <table>
            <% for user_authentication in spree_current_user.user_authentications %>
            <tr>
              <td><%= image_tag "store/#{user_authentication.provider}_32.png", :size => "32x32" %></td>
              <td><%= user_authentication.user.email %></td>
              <td><%= link_to "X", user_authentication, :confirm => "#{Spree.t(:remove_authentication_option_confirmation)}", :method => :delete, :class => "remove" %></td>
            </tr>
            <% end %>
          </table>
        </div>
      <% end %>

    <% end %>
    
    <% if Spree::AuthenticationMethod.available_for(spree_current_user).exists? %>
      <div class="authentications">
        <p><strong><%= Spree.t(:add_another_service) %></strong></p>
        <%= render :partial => "spree/shared/social" %>
      </div>
    <% end %>
  </div>

</div>
<% end %>
